/* .divided_container{

}
.divided_container >div>p{
    font-size: x-small;
}
.divided_container>div{
    text-align: center;
    width: 20%;
} */
.lowerSection_container{
    display: flex;
justify-content: center;
max-height: 80vh;
/* background-color: indigo; */
}
.divided_container{
    display: grid;
    grid-template-rows: 50%, 50%;
    grid-template-columns: 50%, 50%;
    /* margin-top: 1vh; */
    max-width: 50%;
    text-align: center;
   justify-content: center;
    /* background-color: hotpink; */
}
.divided_container> div{
    display: flex;
    align-items: center;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
max-width: 100%;
min-height: 45%;
}
.divided_container_box1{
    grid-area: 1/1/2/2;
}
.divided_container_box2{
    grid-area: 2/2/3/3;
}
.mini_menu_container_img{
    max-height: 3vh;
    max-width: 4vh;
}
.divided_container> div > p{
    font-size: x-small;
    color: grey;
    max-width: 80%;
}
