.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mini_menu_container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: small;
    width:30%;
    align-items: center;
    height: 3vh;
    color: grey;
}
.mini_menu_container_img{
    min-height: 2vh;
    max-height: 2vh;
    margin-right: 0.5vw;
}
.hamburger{
    display: none;
}
.menu{
    display: none;
}
/* tablet iPad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
.mini_menu_container >:nth-child(2){
    display: none;
}
.header_container{
    flex-direction: row-reverse;
    justify-content: space-between;
}
.mini_menu_container{
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-size: small;
    width:0%;
    align-items: center;
    height: 3vh;
    margin-top: 1vh;
    color: transparent;
    margin-left: 2vw;
}
.hamburger{
    height: 3vh;
    margin-right: 2vw;
    font-size: x-large;
}
}

/* mobile */
@media only screen 
and (min-device-width: 412px) 
and (max-device-width: 914px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .mini_menu_container >:nth-child(2){
        display: none;
    }
    .header_container{
        flex-direction: row-reverse;
        justify-content: space-between;
     
    }
    .mini_menu_container{
        display: flex;
        justify-content: start;
        flex-direction: row;
        font-size: small;
        width:0%;
        align-items: center;
        height: 3vh;
        margin-top: 1vh;
        color: transparent;
        margin-left: 2vw;
    }
    .hamburger{
        height: 3vh;
        margin-right: 2vw;
        font-size: x-large;
    }
    .logo{
        height: 3vh;
    }
    .hamburger {
        display: grid;
        place-items: center;
        height: 55px;
        width: 50px;
      }
    }