.hero_container{
background-image: url("images/top-img.jpg");
height: 20vh;
text-align: center;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
color: white;
display: flex;
text-align: center;
justify-content: center;
align-content: center;
}

.hero_container > div{
text-align: center;
position: absolute;
max-width: 80%;
}
.hero_container >div >div {
    font-weight: bolder;
    margin-bottom: 1vh;

}
.hero_container{
padding: 5%;
}